.hours-label {
    font-size: 28px;
    font-weight: 300;
    margin-top: 32px;
    color: var(--white);
}

.hours-text {
    font-size: 20px;
    color: var(--white);
}

.hours-note {
    color: var(--white);
    font-size: 14px;
}

.hours-button {
    margin: 16px 0;
    padding: 8px 16px;
    background-color: var(--green);
    color: var(--black);
    border: 0;
    font-size: 18px;
}