.post {
  width: 40vmax;
  margin: 64px 0;
}

.post-image {
  width: 100%;
  max-height: 100%;
}

.post-text {
  font-size: 16px;
  color: var(--white);
}

.post-date {
  margin-bottom: 16px;
  font-size: 18px;
  color: var(--white);
  text-align: center;
}
