.team {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.team-member {
    color: var(--white);
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.team-image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 16px;
}

.team-member h3 {
    font-size: 24px;
    color: var(--white);
}

.team-member h4{
    font-size: 20px;
    color: var(--green);
}

@media only screen and (max-width: 1200px) {
    .team {
        margin-top: 8px;
        align-items: left;
        width: 80%;
    }

    .team-image {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        object-fit: cover;
        margin-right: 16px;
    }

    .team-member {
        margin-bottom: 32px;
    }
    
    .team-member h3 {
        font-size: 20px;
    }
    
    .team-member h4{
        font-size: 16px;
    }
}